@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
  url('../fonts/roboto-v20-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:url('../fonts/roboto-v20-latin-500.woff2') format('woff2'),
  url('../fonts/roboto-v20-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:url('../fonts/roboto-v20-latin-700.woff2') format('woff2'),
  url('../fonts/roboto-v20-latin-700.woff') format('woff');
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body{
  font-family: "Roboto", "Arial", sans-serif;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.payment_card{
  max-width: 400px;
  margin: 100px auto 0;
  background-color:#fff;
  padding-top: 30px;
  border-radius: 5px;
  overflow: hidden;
}
.loading_proceed{
  position: relative;
  width: 7px;
  height: 7px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #ccc;
}
.loading_proceed::before{
  position: absolute;
  left: 10px;
  display: block;
  width: 7px;
  height: 7px;
  margin-left: 7px;
  border-radius: 50%;
  background-color: #dedede;
  content: "";
}
.loading_proceed::after{
  position: absolute  ;
  right: 10px;
  display: block;
  width: 7px;
  height: 7px;
  margin-right: 7px;
  border-radius: 50%;
  background-color: #aaa;
  content: "";
}
.payment_card-heading{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-size: 20px;
}
.payment_card-link{
  display: flex;
  padding: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 30px;
  border-top: 1px solid #ccc;
  color: #777;
  background-color: #fff;
}
.payment_card-link--active{
  color: #111;
}
.payment_card-link:hover{
background-color: #ccc;
}
.payment_card-link--visa::before{
  display: block;
  width: 70px;
  height: 30px;
  background-image: url("../img/visa.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.payment_card-link--mastercard::before{
  display: block;
  width: 70px;
  height: 30px;
  background-image: url("../img/mastercard.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.payment_card-link--maestro::before{
  display: block;
  width: 70px;
  height: 30px;
  background-image: url("../img/maestro.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.payment_card-link--active::after{
  width: 20px;
  height: 20px;
  margin-left: auto;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  content: "";
}
.payment_card-button{
  position: relative;
  justify-content: center;
  width: 100%;
  padding: 20px;
  font-size: 14px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #598bdd;
  color: #fff;
  transform: translateY(0px);
cursor: pointer;
}
.payment_card-button:active{
  transform: translateY(5px);
}
.payment_card-button::after{
  position: absolute;
  right: 130px;
  top: 18px;
  width: 30px;
  height: 30px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  content: "";
}